<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177413119-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

      gtag('config', 'UA-177413119-1');
    </script>

    <meta charset="utf-8">
    <meta name="keywords" content="Face Recognition | Surveillance | Autonomous Vehicle | Edu - tech | Defense | Smart Health Care | Smart Transportation | IIT Hyderabad | Hyderabad  | Japan | Osaka University | Tokyo | Video Analytics | Machine Learning | Artificial Intelligence | Annotation | Prof. Chalavadi Krishna Mohan | Sai Chandra Teja Radhapuram | Chalavadi Vishnu | K. Naveen Kumar | Vibhanshu Jain">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CKM VIGIL is Building Visual Intelligence for Smart AI Solutions">
    <meta name="author" content="Prof. Chalavadi Krishna Mohan | Sai Chandra Teja Radhapuram | Chalavadi Vishnu | K. Naveen Kumar | Vibhanshu Jain">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{{ page.title }} | CKM VIGIL</title>

    <!-- Favicons -->
    <link href="assets/images/logo/logo.png" rel="icon">
    <link href="assets/images/logo/logo.png" rel="apple-touch-icon">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

</head>
