    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            CKM VIGIL
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="./index.html">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Solutions</a>
                                <ul>
                                    <li><a href="./smart-transportation.html">Smart Transportation</a></li>
                                    <li><a href="./defense.html">Defense</a></li>
                                    <li><a href="./climate-analysis.html">Climate Analysis</a></li>
                                    <li><a href="./smart-health.html">Smart Healthcare</a></li>
                                    <li><a href="./smart-agriculture.html">Smart Agriculture</a></li>
                                </ul>
                            </li>
                            <li><a href="./technology.html">Technology</a>                 
                            <li class="submenu">
                                <a href="javascript:;">Company</a>
                                <ul>
                                    <li><a href="./board_members.html">Board Members</a></li>
                                    <li><a href="./advisery.html">Advisery Committee</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="" class="menu-item">Careers</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
