    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            CKM VIGIL
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Solutions</a>
                                <ul>
                                    <li><a href="" class="menu-item">Smart Transportation / Surveillance</a></li>
                                    <li><a href="" class="menu-item">Urban Mobility  / Autonomous Vehicle </a></li>
                                    <li><a href="" class="menu-item">Edutech</a></li>
                                    <li><a href="" class="menu-item">Defense</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="" class="menu-item">Technology</a>                 
                            <li class="submenu">
                                <a href="javascript:;">Company</a>
                                <ul>
                                    <li><a href="" class="menu-item">Board Members</a></li>
                                    <li><a href="" class="menu-item">Advisery Committee</a></li>
                                    <li><a href="" class="menu-item">Access</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="" class="menu-item">Careers</a></li>
                            <li class="scroll-to-section"><a href="" class="menu-item">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
