/*============= Button Gradient ============= */ 

.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%); color:white}
.btn-grad:hover { background-position: right center; }

/* ============ Page Heading ================*/
.page-heading {
  padding-top:20px;
  /* background-image: url('../images/background/1.png'); */
  background: #E55D87;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin-left:0px;
  margin-right:0px;
  height: 220px;
  font-family: 'Alegreya SC', serif;
}

/*===========Aninmation */
.container_cover {
  width: 100%;
  height:100% ;
}

.animation-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animation-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.animation-area li:nth-child(1) {
  background-color: #329795;
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.animation-area li:nth-child(2) {
  background-color: #F17993;
  left: 75%;
  width: 50px;
  height: 50px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.animation-area li:nth-child(3) {
  background-color: #7E4C97;
  left: 60%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.animation-area li:nth-child(4) {
  background-color: #7ED1E6;
  left: 40%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animtion-duration: 15s;
}

.animation-area li:nth-child(5) {
  background-color: #FCA83E;
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.animation-area li:nth-child(6) {
  background-color: #F9ADA3;
  left: 10%;
  width: 120px;
  height: 120px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0
  }


/***** Features *****/
#templatemo_features {
  background: #455a64 url(../images/pattern_bg.png) fixed;
  padding-bottom: 130px;
}
#templatemo_features p {
  padding-bottom: 30px;
  text-align: center;
}
#templatemo_features .feature-box {
  transition: all .5s;
  background: transparent;
  padding: 40px 0 40px 0;
  margin-bottom: 0px;
  margin-top: 0px;
}
#templatemo_features .feature-box:hover {
  padding: 0;
  color: #fff;
}
#templatemo_features .feature-box .feature-box-inner {
  box-shadow: inset 0px 0px 0 10px #cecece;
  border-bottom: 10px solid #cecece;
  border-top: 10px solid #cecece;
  transition: all .5s;
  background: #fff;
  padding: 20px;
  margin: auto;
}
#templatemo_features .feature-box:hover .feature-box-inner {
  box-shadow: inset 0px 0px 0px 0px #cecece;
  border-bottom: 10px solid #3d799f;
  border-top: 10px solid #3d799f;
  padding: 60px 20px 60px 20px;
  background: #3399cc;
}
#templatemo_features .feature-box p {
  max-width: 250px;
  min-height: 260px;
  line-height: 32px;
  padding-top: 30px;
  font-size: 18px;
  margin: auto;
}
#templatemo_features .feature-box .feature-box-icon {
  border-radius: 0px;
  text-align: center;
  padding-top: 50px;
  font-size: 56px;
  color:#233842;
}
